body {
    font-family: 'Montserrat', sans-serif;
}

/* style de la sidebar  */

.sidenav {
height: auto; /* Full-height: remove this if you want "auto" height */
width: 350px; /* Set the width of the sidebar */
position: fixed; /* Fixed Sidebar (stay in place on scroll) */
z-index: 1; /* Stay on top */
top: 120px; /* Stay at the top */
right: 30px;
/* border-left: 1px solid rgb(139, 139, 139); */
overflow-x: hidden; /* Disable horizontal scroll */
padding-top: 20px;
}

.sidenav li {
    list-style-type: none;
    padding-bottom: 20px;
}

.sidenav a {
    color: rgb(139, 139, 139);
}

.sidenav a:hover {
    color : #28a745;
    text-decoration-line: none;
}

code {
    color: #17a2b8;
}

h2 {
    font-size: 26px;
    margin-top: 20px;
    margin-bottom: 20px;
}

h2 span {
    color: #ffc107;
}

h3 {
    padding-left: 20px;
    padding-top: 15px;
    font-size: 22px;
    font-weight: bold;
}

h4 {
    padding-left: 20px;
}

hr {
    height: 6px;
    border-radius: 4px;
    background-image: linear-gradient(to left, #ffc107, #28a745, #17a2b8);
}

@media (max-width: 1700px) {
    .sidenav {
        display: none;
    }
}